*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 20px;
}

.container {
  margin: 20px auto;
  width: 50%;
  height: auto;
}

.baku-pic, .london-pic, .rome-pic, .madrid-pic {
  max-width: 100%;
  height: auto;
}

div {
  background-color: #dadada;
  float: center;
  margin: 1% auto;
  width: 100%;
  padding: 25px 20px;
}

@media screen and (min-width: 991px) {
   div {
    background-color: #dadada;
    float: center;
    margin: 1% auto;
    width: 48%;
    padding: 25px 20px;
  }
}

@media screen and (min-width: 575px) {
  div {
    background-color: #dadada;
    float: center;
    margin: 1% auto;
    width: 48%;
    padding: 25px 20px;
  }
}

h1 {
  font-size: 2em;
  margin: 1% auto;
  text-align: center;
  font-family: "Arial";
  font-weight: bold;
}

h3 {
  font-size: 1em;
  margin: 1% auto;
  text-align: center;
  font-family: "Arial"
}

@media screen and (min-width: 991px) {
  h1, h3 {
   margin: 1% auto;
   text-align: center;
   font-family: Arial;
   width: 50%;
  }
}

@media screen and (min-width: 575px) {
   h1, h3 {
    margin: 1% auto;
    text-align: center;
    font-family: Arial;
    width: 50%;
  }
}
