*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 20px;
  margin: 100px;
}

.london {
  background-image: url(images/london.png);
  background-size: cover;
  height: 500px;
  width: 500px;
}

.baku {
  background-image: url(images/baku.jpg);
  background-size: cover;
  height: 500px;
  width: 500px;
}

.madrid {
  background-image: url(images/madrid.jpg);
  background-size: cover;
  height: 500px;
  width: 500px
}

.rome {
  background-image: url(images/rome.jpg);
  background-size: cover;
  height: 500px;
  width: 500px;
}

.container {
  margin: 1% auto;
  width: 100%;
  height: auto;
}

.london, .baku, .madrid, .rome {
  background-color: #dadada;
  float: left;
  margin: 1% 1%;
  padding: 25px 20px;
}

@media screen and (min-width: 575px) {
  .london, .baku, .madrid, .rome {
    width: 46%;
  }
}

@media screen and (min-width: 991px) {
   .london, .baku, .madrid, .rome {
    width: 23%;
  }
}

h1 {
  font-size: 2em;
  margin: 1% auto;
  text-align: center;
  font-family: "Arial";
  font-weight: bold;
}

h3 {
  font-size: 1em;
  margin: 1% auto;
  text-align: center;
  font-family: "Arial"
}

@media screen and (min-width: 575px) {
   h1, h3 {
    margin: 1% auto;
    text-align: center;
    font-family: Arial;
    width: 100%;
  }
}

@media screen and (min-width: 991px) {
  h1, h3 {
   margin: 1% auto;
   text-align: center;
   font-family: Arial;
   width: 100%;
  }
}
